@using SpaceWarsServices
@using SWConsole
@inject ApiService service
@inject GameActions actions
<h3>ui</h3>
<input type="text" @bind="j" @onkeypress="onkeypress" />
<button @onclick="fire">fire </button>
<button @onclick = "face">face</button>
<button @onclick = "repair">repair</button>
@foreach(string weapon in actions.Weapons)
{
    <p @onclick = "() => {actions.CurrentWeapon = weapon;}">@weapon</p>
}










@code {

    string j = "";
    async void repair()
    {
        await actions.RepairShipAsync();
    }
    async void face()
    {
        await actions.faceNearestPlayer();
    }
    async void fire()
    {
        await actions.FireWeaponAsync(true);
    }
    async void onkeypress()
    {
        if(j!="")
        {
            char i = j[0];
            j = "";
            if (i == 'a')
            {
                await actions.RotateRightAsync(false);
            }
            else if (i == 'A')
            {
                await actions.RotateRightAsync(true);
            }
            else if (i == 'd')
            {
                await actions.RotateLeftAsync(false);
            }
            else if (i == 'D')
            {
                await actions.RotateLeftAsync(true);
            }
            else if (i == 'w')
            {
                await actions.MoveForwardAsync(false);
            }
            else if (i == 'W')
            {
                await actions.MoveForwardAsync(true);
            }
            else if (i == 'z'||i=='Z')
            {
                await actions.PurchasePowerFistAsync();
            }
            else if (i == 'x' || i == 'X')
            {
                await actions.PurchaseRailGunAsync();
            }
        }

    }
    protected override async Task OnInitializedAsync()
    {
        if(actions.apiService==null)
        {
            actions.apiService = service;
            actions.joinGameResponse = await service.JoinGameAsync("");

        }
    }
}
